/* /////////////////////// */
/* // main plugin panel // */
/* /////////////////////// */

/* docs:
  https://developer.adobe.com/photoshop/uxp/2022/uxp-api/reference-css/
  https://developer.adobe.com/photoshop/uxp/2022/guides/theme-awareness/
*/

body {
  color: var(--uxp-host-text-color);
  padding: 0 16px;
}

sp-heading#main-panel-title {
  width: 100%;
  text-align: center;
}

sp-divider {
  margin: 8px;
}

#main-action-buttons li {
  padding: 8px;
}

#main-action-buttons sp-button {
  width: 100%;
}

sp-detail#main-copyright {
  width: 100%;
  text-align: center;
}

sp-detail#main-plugin-info {
  width: 100%;
  text-align: center;
}

/* /////////////////// */
/* // alert dialogs // */
/* /////////////////// */

#alert-divider {
  margin: 5px 0 15px 0;
}

/* ///////////////////// */
/* // command palette // */
/* ///////////////////// */

#query {
  width: 100%;
  margin-bottom: 8px;
}

#query-listbox-divider {
  margin-top: 4px;
}

#commands-list {
  width: 100%;
}

#commands-list #commands li.command {
  display: flex;
  padding: 14px 12px;
  color: var(--uxp-host-text-color);
}

#commands-list #commands li.command:hover {
  background-color: var(--uxp-host-widget-hover-background-color);
  color: var(--uxp-host-widget-hover-text-color);
}

#commands-list #commands li.command[selected] {
  background-color: #1473e6;
  color: #fff;
}

#commands-list #commands li.command[selected]:hover {
  background-color: #0e66d0;
}

#commands-list #commands li.command .body {
  padding-right: 8px;
  width: 100%;
}

#commands-list #commands li.command .body .header {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  flex-grow: 1;
  flex-shrink: 1;
}

#commands-list #commands li.command .body span.title {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

#commands-list #commands li.command .body kbd.shortcut {
  margin-left: 8px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  /* color: rgba(255, 255, 255, 0.35); */
  border-radius: 3px;
}

#commands-list #commands li.command .type-container {
  display: inline-flex;
  align-items: center;
  margin: 0 8px;
}

#commands-list #commands li.command .type-container span.type {
  padding: 4px 8px;
  font-size: 10px;
  font-weight: bold;
  /* color: var(--uxp-host-text-color-secondary); */
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

#commands-list #commands li.command span.description {
  display: block;
  /* color: var(--uxp-host-text-color-secondary); */
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
