/* /////////////////////// */
/* // main plugin panel // */
/* /////////////////////// */

body {
  color: white;
  padding: 0 16px;
}

sp-heading#main-panel-title {
  width: 100%;
  text-align: center;
}

sp-divider {
  margin: 8px;
}

#main-action-buttons li {
  padding: 8px;
}

#main-action-buttons sp-button {
  width: 100%;
}

sp-detail#main-copyright {
  width: 100%;
  text-align: center;
}

sp-detail#main-plugin-info {
  width: 100%;
  text-align: center;
}

/* ///////////////////// */
/* // command palette // */
/* ///////////////////// */
#query {
  width: 100%;
  margin-bottom: 8px;
}

#query-listbox-divider {
  margin: 15px 0 20px 0;
}

#alert-divider {
  margin: 5px 0 15px 0;
}

#commands {
  height: auto;
  width: 100%;
  overflow: hidden;
}

sp-menu-item {
  width: 100%;
  height: 45px;
  padding: 30px 15px;
  font-size: var(--uxp-h1-font-size);

  /* TODO: truncate with ellipsis */

  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; */
}

sp-label.description {
  display: block !important;

  /* TODO: truncate with ellipsis */

  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; */
}

kbd {
  position: absolute;
  float: right;
  height: auto;
  width: 30px;
  top: 30%;
  right: 15px;
  text-align: center;
}

sp-icon {
  position: absolute;
  float: right;
  height: auto;
  width: 30px;
  top: 30%;
  right: 15px;
  text-align: center;
}

.icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

svg {
  color: white !important;
  fill: rgba(255, 255, 255, 0.5);
}

svg .fill {
  fill: rgba(255, 255, 255, 0.5) !important;
}

[selected] {
  /* TODO: figure out how to hide checkmark */
  background-color: #378ef0; /* color of check mark to hide */
  /* background-color: var(--uxp-host-link-text-color); */
  color: var(--uxp-host-link-hover-text-color);
  font-weight: bolder;
}

[selected] > sp-label.description {
  color: var(--uxp-host-link-hover-text-color);
}

[selected]:hover {
  background-color: #4b9cf6;
}

/* TODO: remove checkmark */
/* https://github.com/adobe/spectrum-web-components/blob/main/packages/menu/src/spectrum-checkmark.css */
