/* /////////////////////// */
/* // main plugin panel // */
/* /////////////////////// */

/* docs:
  https://developer.adobe.com/photoshop/uxp/2022/uxp-api/reference-css/
  https://developer.adobe.com/photoshop/uxp/2022/guides/theme-awareness/
*/

:root {
    --base: #2e2e2e;
    --text: #e2e2e2;

    --selected: #378ef0;
    --selected-text: #fff;

    --hover: #3f3e3f;

    --disabled-text: #6e6e6e;
}

@media (prefers-color-scheme: light), (prefers-color-scheme: lightest) {
    :root {
        --base: #fafafb;
        --text: #4b4b4b;

        --hover: #eaeaea;

        --disabled-text: #b3b3b3;
    }
}

body {
    color: var(--text);
    padding: 0 16px;
}

sp-heading#main-panel-title {
    width: 100%;
    text-align: center;
}

sp-divider {
    margin: 8px 0;
}

#main-action-buttons li {
    padding: 8px;
}

#main-action-buttons sp-button {
    width: 100%;
}

sp-detail#main-copyright {
    width: 100%;
    text-align: center;
}

sp-detail#main-plugin-info {
    width: 100%;
    text-align: center;
}

/* /////////////////// */
/* // alert dialogs // */
/* /////////////////// */

#alert-divider {
    margin: 5px 0 15px 0;
}

/* ///////////////////// */
/* // command palette // */
/* ///////////////////// */

dialog#ps-command-palette {
    background-color: var(--base);
}

#query {
    width: 100%;
    margin-bottom: 8px;
}

#query-listbox-divider {
    margin-top: 4px;
}

#commands-list {
    width: 100%;
    height: 450px;
    overflow-y: auto;
}

#commands-list #commands li.command {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 12px;
    height: 50px;
    color: var(--text);
    cursor: pointer;
}

#commands-list #commands li.command[disabled] {
    color: var(--disabled-text);
}

#commands-list #commands li.command:hover {
    background-color: var(--hover);
}

#commands-list #commands li.command[disabled]:hover {
    color: var(--disabled-text);
}

#commands-list #commands li.command[selected] {
    background-color: var(--selected);
    color: var(--selected-text);
}

#commands-list #commands li.command[selected][disabled]:hover {
    background-color: var(--selected);
}

#commands-list #commands li.command .body {
    padding-right: 8px;
    width: 100%;
}

#commands-list #commands li.command .body .header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

#commands-list #commands li.command .body span.title {
    font-size: var(--uxp-host-font-size);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

#commands-list #commands li.command .body span.title strong {
    font-weight: bolder;
}

#commands-list #commands li.command .body kbd.shortcut {
    margin-left: 8px;
    text-align: center;
    font-size: var(--uxp-host-font-size-smaller);
    font-weight: bold;
    color: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
}

#commands-list #commands li.command span.description {
    display: block;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-top: 4px;
}

#commands-list #commands li.command .type-container {
    display: inline-flex;
    align-items: center;
    margin: 0 8px;
}

#commands-list #commands li.command .type-container span.type {
    padding: 4px 8px;
    font-size: 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

#info {
    width: 100%;
    margin-top: 12px;
    text-align: center;
}
